.idea*
*__pycache__*/
text_recognition/ocr_module/chinese_ocr/models/*
text_recognition/result/*
text_recognition/testpic/*
face_module/pre_train_models/*
face_module/sir_db/
face_module/run/
image_vec/pretrained/*
nlp_module/ner/example/
obj_dectect_module/*.h5
venv*
TensorBoard/
files_need_to_download
fr_module/model_alignt_person
fr_module/mtcnn-model
*.pyc
*.swp
*.pkl
*.pth
*.pb
result*
weights*
